* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center;
    background-color:
    /* #d7e0e6 */
    #e8eef1
    /* #d2dde3 */
    /* #bbcbd5 */
    /* #f0f8ff */
    ;
    margin: 0;
    color: #000000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.logo {
    height: 60px;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #1c5373;
    color: white;
}